body, .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.content { 
  padding: 3rem;
}

.item {
  width: 25%;
  height: 50%;
  float: left;
  background-color: $blue;
  background-blend-mode: screen;
  background-size: cover;
  &:hover {
    background-color: $pink;
    cursor: alias;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: $yellow;
  mix-blend-mode: difference;
}

@media screen and (max-width: $tablet-portrait-max) {
  .item {
    width: 50%;
    height: 33.33%;
  }
}

// People

.jeff {
  background-image: url('../img/jeff.jpg');
}

.kunal {
  background-image: url('../img/kunal.jpg');
}

.nick {
  background-image: url('../img/nick.jpg');
  background-color: $gray;
}

.noga {
  background-image: url('../img/noga.jpg');
  background-color: $gray;
}

.richard {
  background-image: url('../img/richard.jpg');
  background-color: $gray;
}

.rob {
  background-image: url('../img/rob.jpg');
}

.robin {
  background-image: url('../img/robin.jpg');
}

.austin {
  background-image: url('../img/austin.jpg');
}
.austin {
  background-image: url('../img/austin.jpg');
}
.amritha {
  background-image: url('../img/amritha.jpg');
}
.josh {
  background-image: url('../img/josh.jpg');
}
.anthony {
  background-image: url('../img/anthony.jpg');
}
.adam {
  background-image: url('../img/adam.jpg');
}
.amber {
  background-image: url('../img/amber.jpg');
}
.charlie {
  background-image: url('../img/charlie.jpg');
}
