body, .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 3rem;
}

.content { 
  display: flex;
  flex-direction: column;
}

.row {
  flex: 5;
  display: flex;
  flex-direction: row;
}

.item {
  background: #2EA8E6;
  flex: 4;
  display: flex;
  justify-content: center;
  background-color: $blue;
  background-blend-mode: screen;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 36%;
  left: 0;
  z-index: 2000;
  width: 100%;
  text-align: center;
  color: $yellow;
  mix-blend-mode: difference;
}

// People

.jeff {
  background-image: url('../img/jeff.jpg')
}

.kunal {
  background-image: url('../img/kunal.jpg')
}

.nick {
  background-image: url('../img/nick.jpg')
}

.noga {
  background-image: url('../img/noga.jpg')
}

.richard {
  background-image: url('../img/richard.jpg')
}

.rob {
  background-image: url('../img/rob.jpg')
}
