// Font weights
$extra-bold: 800;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

@font-face {
    font-family: Aquilone;
    src: url('../font/Aquilone-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: Aquilone;
    src: url('../font/Aquilone-Bold.otf');
    font-weight: bold;
}

$sans: 'Aquilone', sans-serif;

h1, %h1 {
  font-size: 20vw;
  font-weight: $bold;
  letter-spacing: 2rem;
  text-transform: uppercase;
  line-height: 1;
}
