{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">

  <h1 class="overlay">Livehaus</h1>

  <div class="row">
    <a href="https://twitter.com/jhilmd" class="item jeff"></a>
    <a href="https://twitter.com/kunals1994" class="item kunal"></a>
    <a href="https://twitter.com/nickaversano" class="item nick"></a>
  </div>

  <div class="row">
    <a href="https://twitter.com/nogaraviv" class="item noga"></a>
    <a href="https://twitter.com/relhiggins" class="item richard"></a>
    <a href="https://twitter.com/robcobbable" class="item rob"></a>
  </div>
  
</div>

{{/content}}
{{/extend}}
