{{#extend "base"}}
{{#content "main" mode="prepend"}}

<h1 class="overlay">Livehaus</h1>

<div class="grid">
  <ul>
    <li class="grid-item jeff">
      <img src="../img/jeff.jpg">
    </li>
    <li class="grid-item kunal">
      <img src="../img/kunal.jpg">
    </li>
    <li class="grid-item nick">
      <img src="../img/nick.jpg">
    </li>
    <li class="grid-item noga">
      <img src="../img/noga.jpg">
    </li>
    <li class="grid-item richard">
      <img src="../img/richard.jpg">
    </li>
    <li class="grid-item rob">
      <img src="../img/rob.jpg">
    </li>
  </ul>

</div>

{{/content}}
{{/extend}}
