{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="content">

  <div class="overlay">
    <h1>Live<br class="mobile-only">haus</h1>
  </div>

  <a href="https://twitter.com/jhilmd" class="item jeff" target="_blanks"></a>
  <a href="https://twitter.com/kunals1994" class="item kunal" target="_blanks"></a>
  <a href="https://twitter.com/robcobbable" class="item rob" target="_blanks"></a>
  <a href="https://twitter.com/amrithajayanti" class="item amritha" target="_blanks"></a>
  <a href="https://twitter.com/taylorthejosh" class="item josh" target="_blanks"></a>
  <a href="https://twitter.com/AdamSHurwitz" class="item adam" target="_blanks"></a>
  <a href="https://twitter.com/ambermirza_" class="item amber" target="_blanks"></a>
  <a href="https://twitter.com/AnthonyCastrio" class="item anthony" target="_blanks"></a>
  <a href="https://twitter.com/chulcher" class="item charlie" target="_blanks"></a>
  <a href="https://twitter.com/rockinbinbin" class="item robin" target="_blanks"></a>
  <a href="https://ayh.io/" class="item austin" target="_blanks"></a>
  <a href="https://twitter.com/nickaversano" class="item nick" target="_blanks"></a>
  <a href="https://twitter.com/nogaraviv" class="item noga" target="_blanks"></a>
  <a href="https://twitter.com/relhiggins" class="item richard" target="_blanks"></a>
  
</div>

{{/content}}
{{/extend}}
